@model IEnumerable<BaoCaoBaiTapLonNhom02.Models.Student>

@{
    ViewData["Title"] = "Index";
}

<h1>Danh sách đăng ký</h1>

<p>
    <a asp-action="Create">Taọ thông tin mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ten)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nhom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cathi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ten)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nhom.MaNhom)
            </td>
              <td>
                @Html.DisplayFor(modelItem => item.MaCathi)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
