<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @*<title>@ViewData["Title"] - BaoCao</title>*@
    <title>Đăng ký ca thi</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BaoCaoBaiTapLonNhom02.styles.css" asp-append-version="true" />
</head>
@{
    string menuTextColor = "text-white";
}
<body>
    <div class="container-fluid" style="background:Linear-gradient(to right,#28340B,#197696);">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm  border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand  @menuTextColor" asp-area="" asp-controller="Home" asp-action="Index">BaiTapLonNhom02</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link  @menuTextColor" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @*<li class="nav-item">
                            <a class="nav-link @menuTextColor" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>*@
                         <li class="nav-item">
                            <a class="nav-link  @menuTextColor" asp-area="" asp-controller="SinhVien" asp-action="Create">Tin học văn phòng nâng cao</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            <!--Success Dialog Start-->
            <div id="myModalSuccess" class="modal fade text-width:30%;" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2>Information</h2>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div id="MyModalSuccessAlertBody" class="modal-body alert alert-success">
                           this is a modal body. our message will appear here
                        </div>
                        <div class="modal-footer">
                            &nbsp;
                            <button type="button" class="btn btn-info" data-dismiss="modal">close</button>

                        </div>
                    </div>

                </div>
            </div>

            <!--Success Dialog End-->

            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style="background:Linear-gradient(to right,#28340B,#197696);">
        <div class="container @menuTextColor">
            &copy; 2023 - BaoCaoBaiTapLonNhom02 - <a asp-area="" asp-controller="Home" asp-action="Privacy" class="@menuTextColor">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
