@model IEnumerable<BaoCaoBaiTapLonNhom02.Models.SinhVien>

@{
    ViewData["Title"] = "Index";
}

<h1>Danh sách Sinh viên đăng ký</h1>

<p>
    <a asp-action="Create">Thêm sinh viên</a>
</p>
<form asp-action="Index" method="get" class="form-inline">
    Nhập tên SV<input type="text" name="name"/><button>Tìm</button>

</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaSV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenSV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nhom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cathi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaSV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenSV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nhom.MaNhom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cathi.MaCathi)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaSV">Sửa</a> |
                <a asp-action="Details" asp-route-id="@item.MaSV">Chi tiết</a> |
                <a asp-action="Delete" asp-route-id="@item.MaSV">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
